<div class="pd-3">

  <!--* LISTADO DE PROYECTOS -->
  <div class="col-md-6 mt-3">
    <h4 class="mb-3">Proyectos</h4>
    <ul class="list-group mb-3">
      <li
        class="list-group-item row"
        *ngFor="let proyecto of proyectos; let i = index">
        <div class="col-md-6 mr-5">
          <a class="active" routerLink="/proyecto/{{ proyecto.id }}">{{ proyecto.titulo }}</a>
          <p class="text-muted">"{{ proyecto.descripcion }}"</p>
        </div>
        <div>
          <p *ngIf="proyecto.estado === 'borrador'" class="text-secondary"> >>{{ proyecto.estado }} </p>
          <p *ngIf="proyecto.estado === 'enviado'" class="text-success"> >>{{ proyecto.estado }} </p>
          <p *ngIf="proyecto.estado === 'corregido'" class="text-danger"> >>{{ proyecto.estado }} </p>
          <p *ngIf="proyecto.estado === 'aprobado'" class="text-info"> >>{{ proyecto.estado }} </p>
        </div>
      </li>
    </ul>
  </div>

    <!--* CREAR NUEVO PROYECTO -->
  <form>
		<div class="mb-1">
			<h2 class="mb-3">Nuevo Proyecto</h2>
			<input
          type="text"
          class="form-control m-1"
          required
          [(ngModel)]="proyecto.titulo"
          name="titulo"
          placeholder="Titulo del Proyecto"
        />
        <input
          type="text"
          class="form-control m-1"
          required
          [(ngModel)]="proyecto.descripcion"
          name="descripcion"
          placeholder="descripcion del Proyecto"
        />
		</div>
		<a type="submit" class="btn btn-success" (click)="guardarProyecto()">Crear</a>
	</form>
</div>
