<app-navbar></app-navbar>

<div class="bg-llight edit-form">
  <a routerLink="/home" class="btn btn-danger m-1" >Volver</a>
  <h1 class="text-info">#{{ currentProyecto.titulo }}</h1>
  <p class="text-secondary">{{ currentProyecto.estado }}</p>
  <!--? APROBADO -->
  <div *ngIf="currentProyecto.estado === 'aprobado'; else editable">
    <article>
      <h5>Introduccion</h5>
      <p>{{ currentProyecto.introduccion }}</p>
    </article>
    <article>
      <h5>Justificacion</h5>
      <p>{{ currentProyecto.justificacion }}</p>
    </article>
    <article>
      <h5>Objetivos</h5>
      <p>{{ currentProyecto.objetivos }}</p>
    </article>
    <article>
      <h5>Metodologia</h5>
      <p>{{ currentProyecto.metodologia }}</p>
    </article>
    <article>
      <h5>Conclusion</h5>
      <p>{{ currentProyecto.conclusion }}</p>
    </article>
  </div>

  <!--? NO APROBADO -->
  <ng-template #editable>

    <form class="form form-light">

      <div *ngIf="parte === 0" >
        <p class="text-secondary">Introduccion</p>
        <textarea
          class="form-control"
          rows="6"
          name="introduccion del Tema"
          placeholder="introduccion del Tema"
          [(ngModel)]="currentProyecto.introduccion" ></textarea>
      </div>

      <div *ngIf="parte === 1" >
        <p class="text-secondary">Justificacion</p>
        <textarea
          class="form-control"
          rows="6"
          name="justificacion del Tema"
          placeholder="justificacion del Tema"
          [(ngModel)]="currentProyecto.justificacion" ></textarea>
      </div>

      <div *ngIf="parte === 2" >
        <p class="text-secondary">Objetivos</p>
        <textarea
          class="form-control"
          rows="6"
          name="objetivos del Tema"
          placeholder="objetivos del Tema"
          [(ngModel)]="currentProyecto.objetivos" ></textarea>
      </div>

      <div *ngIf="parte === 3" >
        <p class="text-secondary">Metodologia</p>
        <textarea
          class="form-control"
          rows="6"
          name="metodologia del Tema"
          placeholder="metodologia del Tema"
          [(ngModel)]="currentProyecto.metodologia" ></textarea>
      </div>

      <div *ngIf="parte === 4" >
        <p class="text-secondary">Conclusion</p>
        <textarea
          class="form-control"
          rows="6"
          name="conclusion del Tema"
          placeholder="conclusion del Tema"
          [(ngModel)]="currentProyecto.conclusion" ></textarea>
      </div>

    <a class="btn btn-warning m-1" (click)="Anterior()">Anterior</a>
    <a class="btn btn-warning m-1" (click)="Siguiente()">Siguiente</a>

    <div>
      <h4 class="text-danger">Comentario || Correcciones:</h4>
      <textarea
        class="form-control"
        rows="6"
        name="comentarios y/o correcciones"
        placeholder="comentarios y/o correcciones"
        [(ngModel)]="currentProyecto.comentario" ></textarea>
      <p *ngIf="currentProyecto.comentario !== ''" class="text-secondary">*Mientras haya un comentario o correcion, el proyecto estara en el estado 'corregido'</p>
    </div>
	</form>
    <a (click)="actualizarProyecto()" type="submit" class="btn btn-primary m-1">Guardar Cambios</a>
    <a (click)="Alerta()" type="submit" class="btn btn-success m-1" >Aprobar proyecto</a>
    <div *ngIf="alerta" class="alert alert-warning m-1" role="alert">
      <strong>ALERTA:</strong> una vez aprobado el proyecto no sera posible volver a editarlo. <br>
      El proyecto solo estara disponible en modo lectura. <br>
      Esta accion es irreversible <br>
      <a (click)="aprobarProyecto()" type="submit" class="btn btn-success m-1" >Aprobar proyecto</a>
    </div>
  </ng-template>
</div>
<app-footer></app-footer>
