<div class="bg-llight">
	<div><h1>Proyecto #Nombre</h1></div>
	<form id="cuerpo" class="form form-light">
		<textarea class="form-control" rows="6" data-toggle="tooltip" title="Descripcion del Tema" placeholder="Descripcion del Tema"></textarea>
		<label class="form-control" rows="6" data-toggle="tooltip" title="Desc">Comentario x</label>
	    <textarea class="form-control" rows="6" data-toggle="tooltip" title="Planteamiento del problema" placeholder="Planteamiento del problema"></textarea>
	    <label class="form-control" rows="6" data-toggle="tooltip" title="Plan">Comentario x</label>
	    <textarea class="form-control" rows="6" data-toggle="tooltip" title="Hipotesis" placeholder="Hipotesis"></textarea>
	    <label class="form-control" rows="6" data-toggle="tooltip" title="Hipo">Comentario x</label>
	    <textarea class="form-control" rows="6" data-toggle="tooltip" title="Objetivo General" placeholder="Objetivo General"></textarea>
	    <label class="form-control" rows="6" data-toggle="tooltip" title="Obje">Comentario x</label>
	    <textarea class="form-control" rows="6" data-toggle="tooltip" title="Titulo tentativo de la investigacion" placeholder="Titulo tentativo de la investigacion"></textarea>
	    <label class="form-control" rows="6" data-toggle="tooltip" title="Titu">Comentario x</label>
	    <textarea class="form-control" rows="6" data-toggle="tooltip" title="justificacion" placeholder="justificacion"></textarea>
	    <label class="form-control" rows="6" data-toggle="tooltip" title="just">Comentario x</label>
	    <textarea class="form-control" rows="6" data-toggle="tooltip" title="etc" placeholder="etc"></textarea>
	    <label class="form-control" rows="6" data-toggle="tooltip" title="etc">Comentario x</label>
	</form>
	<a href="/home" type="submit" class="btn btn-primary">Guardar Cambios</a>
</div>